*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{

    background-color: rgb(205, 222, 243);
    width: 500px;
    height: 400px;
}