@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

button{
    border: none    ;
    transition: 0.2s ease-in-out;

}

button:hover{
    opacity: 0.7;
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

/* navigation */

nav{
    position: sticky;
    background-color: #270082;
    z-index: 50;
}

.nav-container{

    width: 1100px;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
}


/* hero section */

.hero{
    background-image: url(images/hero_image.png);
    color: white;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container{
    /* background-color: lightblue; */
    max-width: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.hero-container h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-container h4{
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-container p{
    font-size: 12px;
    text-align: center;
}

/* Music section */


.music-container{
    background-color: #281154;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(113, 79, 79); */
    max-width: 800px; 
    color: white;
    margin-top: 20px;
    gap: 20px;
}

.music-content button{
    padding: 10px 10px;
    background-color: red;
    color: white;
}

.music-content p{
    text-align: justify;
}

/* white section */


.white{
    height: 200vh;
    display: flex;
    justify-content: center;
}

.white-content{
    gap: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.white-content button{
    padding: 10px 20px;
    background-color: #37008E;
    color: white;
    font-size: 16px;
}

.white-content h2{
    font-size: 16px;
}

.white-content p{
    font-size: 14px;
    text-align: justify;
}


/* dark section */
.dark{
    background-image: url(images/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.dark-content{
    /* background-color: green; */
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    color: white;
    padding: 200px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark-content h2{
    margin-bottom: 50px;
    font-weight: 500;
}

.dark-content p{
    font-size: 14px;
    font-weight: 400;
}

.heading{
    /* background-color: lightcoral; */
}
.para{
    /* background-color: aqua; */
    width: 900px;
}

/* gift section */

